/**
   Menu em primeiro plano que ocupa largura de 90% da tela
   Inicialmente escondido (left negativo) 
*/
.menu-bar {
    position: fixed;
    height: 100%;
    width: 90%;
    max-width: 320px;
    margin: 0;
    padding: 1em;
    background: #f0f0f0f0;
    top : 0;
    left: -90%;
    transition: left 0.3s ease-out;
    z-index: 1;
}

/**
   Mostra o .menu-bar
   (left 0)
*/
.active-menu .menu-bar {
    left: 0;
}

/** 
   Plano abaixo do menu que sobrepõe tudo o que não é menu 
*/
.active-menu .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.4);
}